# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

### Go Patch ###
/vendor/
/Godeps/

out/
bin/
.vscode/*
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

junit-report.xml
checkstyle-report.xml
coverage.txt
coverage.xml
profile.cov
yamllint-checkstyle.xml
go_test.xml
tmp/
